footer
    width: 100%
    background: rgba(0,0,0,0.5)
    padding: 15px 0
    position: absolute
    bottom: 0
    transform: translate(0%, 100%)
    h1
        color: white
        text-align: center
        font-family: $Enter
